@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #333;
  margin: auto;
  height: 100vh;
  padding: 2em;
}

div {
  margin: 0;
  padding: 0;
}
div.container {
  box-sizing: content-box;
  border: 2px solid #eee;
  overflow: auto;
  width: 400px;
  height: 400px;
  margin: 2em auto;
}
div.row {
  clear: left;
}
div.col {
  background-color: rgba(255, 105, 180, 0.1);
  width: 16px;
  height: 16px;
  float: left;
}

div.col.mouseover {
  background-color: hotpink;
}